<h1 class="page-header">About Me</h1>
            <div class="content-post">
                <img class="headshot" src="/jakeheadshot.JPG"/>
                <div class="about-text">
                    <p>Hi, all! I'm a rising Junior at UNC studying Computer Science and Information and Library Science. I've always been interested in computer science subjects, particularly information retrieval systems and graph theory. I'm very excited for this course on web development as it will give me many tools to help translate my technical knowledge into a finished project for others to enjoy!</p>
                    <p>I have many interests outside of class. I'm a big fan of literature and I'm interested in finding all the best bookstores in Copenhagen. I enjoy the outdoors as well - anything from biking to snowboarding. I also enjoy playing video games with friends.</p>
                    <p>I'm thrilled that this class is taking place in Copenhagen! Copenhagen is a thriving, modern European city and I can't want to take advantage of everything it has to offer. One thing that I love about the city is its transit. You can walk, bike, or take a train to about anywhere in the city, something you can't really do in most American cities.</p>
                    <p>After I've finished my class in Copenhagen, I plan on taking about 6 weeks to travel across Germany and France. I'll be traveling by train and sleeping in hostels along the way. I've never done a vacation on my own. It will be nice to have no plans and the ability to go wherever I want. It will also give me the opportunity to practice some of my French! I'll be posting updates on this website along the way</p>
                    <p>Thank you for visiting my site! Farvel!</p>
                </div>
            </div>