<h1 class="page-header">Jake's Travel Journal</h1>
{{#each posts}}
    <div class="content-post">
        <div class="blog-header">
            <h2 class="blog-post-title">{{title}}</h2>
            <p>{{publishAt}} - {{location}}</p>
        </div>
        {{{body}}}
    </div>
{{/each}}
       