
<h1 class="page-header">My Adventure Map</h1>
<div id="map"></div>
<div id="map-info-target" class="content-post"></div>
<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyesbQMyKVVbBgKVi2g6VX7mop2z96jBo&callback=initMap">
    </script>
<script src="./map.js"></script>