
<h1 class="page-header">My Adventure Map</h1>
<div id="map"></div>
<div id="map-info-target" class="content-post"></div>
<script src="./map.js"></script>
<script async defer
            src={{url}}>
    </script>
