* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

a, h1{
    font-family: 'Open Sans', sans-serif;
}

p, h2{
    font-family: 'Lato', sans-serif;
}

span {
    font-weight: 700;
}

.about-text{
    overflow: hidden;
}
.main-container {
    background-color: #E7E1E8;
}

.content-container {
    background-color: #F4F0F0;
    margin: auto;
    overflow: auto;
}

.content-container, .header, .footer{
    width: 70%;
}

.page-header {
    text-align: center;
    padding: 10px 0 10px 0;
}

.blog-header {
    border-bottom: 2px solid #F4F0F0;
    box-sizing: content-box;
    margin-bottom: 5px
}

.content-post{
    box-sizing: content-box;
    margin: auto;
    width: 85%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FBF6F6;
    overflow: auto;
}

.content-post p{
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.3em;
}


.header {
    background-color: #7FD2EE;
    height: 100px;
    margin: auto;
    
}

.headshot {
    float: left;
    width: 20%;
    margin: 0 18px 18px 0;
    overflow: auto;
}

.menu {
    display: flex;
    justify-content: center;
    height: 100%;

}

.sub-links {
    display: flex;
    justify-content: center;
    width: 50%;
}

.trip-list {
    padding-left: 22px;
    font-size: 18px;
}

.trip-list-link{
    color:#201E1E;
}

.trip-list-link:hover{
    color: #1C6F8B;
}

.nav-link{
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: #201E1E;
    width: 50%;
    height: 100%;
    align-items: flex-end;
    padding: 0 0 5px 5px;

}

.nav-link:hover {
    background-color: #1C6F8B;
}

.other-page-background {
    height: 100%;
}

.footer{
    background-color: #7FD2EE;
    bottom: 0;
    height: 40px;
    margin: auto;
    clear: both;
}

.footer-text {
    font-size: 16px;
    text-align: center;
}