* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

span {
    font-weight: 990;
    font-style: italic;
}

.main-container {
    background-color: #E7E1E8;
}

.content-container {
    background-color: #F4F0F0;
    width: 80%;
    margin: auto;
    overflow: auto;
}

.page-header {
    text-align: center;
    padding: 10px 0 10px 0;
}

.blog-header {
    border-bottom: 2px solid #F4F0F0;
}

.content-post{
    box-sizing: content-box;
    margin: auto;
    width: 93%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FBF6F6;
    overflow: auto;
}

.content-post p{
    color: #201E1E;
    font-size: 20px;
    margin: 3px 0 8px 0;
}


.header {
    width: 80%;
    background-color: #7FD2EE;
    height: 80px;
    margin: auto;
    
}

.headshot {
    float: left;
    width: 20%;
    margin: 0 18px 18px 0;
}

.menu {
    display: flex;
    justify-content: center;
    height: 100%;

}

.sub-links {
    display: flex;
    justify-content: center;
    width: 50%;
}

.trip-list {
    overflow:auto;
}

.nav-link{
    font-family: Verdena, sans-serif;
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: #201E1E;
    width: 50%;
    height: 100%;
    align-items: flex-end;
    padding: 0 0 5px 5px;

}

.nav-link:hover {
    background-color: #1C6F8B;
}

.footer{
    width: 80%;
    background-color: #7FD2EE;
    bottom: 0;
    height: 40px;
    margin: auto;
    clear: both;
}

.footer-text {
    font-size: 14px;
    text-align: center;
}