<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<div class="main-container {{otherdiv}}">
    <div class="info-styling">
        <div class="header">
            <div class="menu">
                <a class="nav-link" href="/">Jake's Travel Journal</a>
                <div class="sub-links">
                    <a class="nav-link" href="about">About</a>
                    <a class="nav-link" href="todo">To-do</a>
                    <a class="nav-link" href="gallery">Gallery</a>
                </div>
            </div>
        </div>
            <div class="content-container">
            {{{ body }}}
            </div>
        
        <div class="footer">
            <p class="footer-text">Copyright @ 2019 Jake Ryan</p>
        </div>
    </div>
</div>
</body>
</html>