
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

a, h1{
    font-family: 'Open Sans', sans-serif;
}

p, h2{
    font-family: 'Lato', sans-serif;
}

span {
    font-weight: 700;
}

.blog-header {
    border-bottom: 2px solid #F4F0F0;
    margin-bottom: 5px
}

.content-container {
    background-color: #F4F0F0;
    padding-bottom: 40px;
    
}

.content-post{
    margin: auto;
    width: 95%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FBF6F6;
    overflow: auto;
}
.content-post:last-of-type{
    margin-bottom: 0px;
}

.content-post p{
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1.3em;
}

.footer{
    background-color: #7FD2EE;
    height: 40px;

}

.footer-text {
    font-size: 12px;
    text-align: center;
}

.gallery__master {
    list-style: none;
    font-size: 0.75em;
    display: flex;
    overflow-x: auto;
    height: 20vh;
}

.gallery__thumb {
    height: 20vh;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__thumb.selected .gallery__thumb-img-wrap {
    border: 2px solid #333;
}

.gallery__thumb:hover {
    cursor: pointer;
}

.gallery__thumb-img-wrap {
    display: block;
    border: 2px solid black;
    width: 19vh;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__thumb-img {
    max-width: 19vh;
    max-height: 19vh;
    vertical-align: middle;
    text-align: center;
    image-orientation: from-image;
}

.gallery__detail-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78vh;
}

.gallery__detail-img {
    margin-top: 2vh;
    max-height: 78vh;
    max-width: 98vw;
}

.gallery__caption {
    text-align: center;
}

.gallery__thumb.selected .gallery__thumb-img-wrap {
    background: #7FD2EE;
}

.header {
    background-color: #7FD2EE;
    height: 80px;
    
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    overflow: auto;
    margin: auto;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    height: 100%;
}


.nav-link{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: #201E1E;
    width: 50%;
    align-items: flex-end;
    padding: 0 0 5px 5px;

}

.nav-link:hover {
    background-color: #1C6F8B;
}


.other-page-background{
    height: 100%;
    background-color: #F4F0F0;
}

.page-header {
    text-align: center;
    font-size: 28px;
    padding: 10px 0 10px 0;
}

.sub-links {
    display: flex;
    justify-content: center;
    width: 50%;
}

.trip-list {
    padding-left: 22px;
    font-size: 17px;
}

.trip-list-link{
    color:#201E1E;
}

.trip-list-link:hover{
    color: #1C6F8B;
}

@media only screen and (min-width: 961px){

    .about-text{
        overflow: hidden;
    }
    .main-container {
        background-color: #E7E1E8;
    }

    .content-container {
        margin: auto;
        background-color: #F4F0F0;
    }

    .content-post{
        width: 85%;
    }

    .content-post p{
        font-size: 20px;
    }

    .header {
        height: 100px;
        
    }

    .headshot {
        float: left;
        width: 20%;
        margin: 0 18px 18px 0;
    }

    .info-styling{
        width: 900px;
        margin: auto;
    }

    .nav-link{
        font-size: 30px;
    }

    .footer-text {
        font-size: 16px;
    }
}


